<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>667073702649-jqq2e3d3cbh1us5fup0iqj9jlqka7rmu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.667073702649-jqq2e3d3cbh1us5fup0iqj9jlqka7rmu</string>
	<key>API_KEY</key>
	<string>AIzaSyA3OXOx8bW99LGadYc9nW4m4sqXQVRjXrI</string>
	<key>GCM_SENDER_ID</key>
	<string>667073702649</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.itaxo.itaxo</string>
	<key>PROJECT_ID</key>
	<string>itaxo-32782</string>
	<key>STORAGE_BUCKET</key>
	<string>itaxo-32782.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:667073702649:ios:d5cd1c5e52d28238909028</string>
	<key>DATABASE_URL</key>
	<string>https://itaxo-32782.firebaseio.com</string>
</dict>
</plist>